<div style="position:fixed;bottom:0;width:100%;height:30px">
    <table style="width:100%;border:3px grey solid;background-color:#FFE30A;">
        <tbody>
            <tr>
                <td align="center">
                    <strong><font color="#000000">Copyright&copy; 2018 EUPA</font></strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>