@{
    ViewBag.Title = "角色管理";
}

<div class="container">
    <br /><h4>角色管理</h4><br />
    <div>
        <input type="button" class="btn btn-warning" value="新增角色" onclick="location.href='/Identity/RoleCreate'" />
    </div>
    <datatable :columns="columns" :data="rows"></datatable>
</div>
<script src="~/js/backendBundle.js"></script>


<script type="text/javascript">
    new Vue({
        el: '.container',
        data: {
            columns: [
                {
                    label: "操作", interpolate: true, align: "center", sortable: false,
                    representedAs: function (row) {
                        return editDeleteButton("/Identity/RoleEdit/", "/Identity/RoleDelete/", row.Id);
                    }
                },
                { label: "代碼", field: "Code" },
                { label: "描述", field: "Description" }
            ],
            rows: []
        },
        methods: {
            getData() {
                blockUI();

                axios.get('/Identity/RoleGrid')
                    .then(response => {
                        //alert(JSON.stringify(response.data));
                        this.rows = response.data;
                        $.unblockUI();
                    });
            }
        },
        created() {
            this.getData();
        }
    });
</script>
