.navbar-yellow {
    background-color: #FFE30A !important;
}


table {
    border: solid 1px white;
    border-collapse: collapse;
    color: white;
}

table td {
    padding: 5px;
    border: solid 1px white;
    color: #696969;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
}

table th {
    font-family: 'Noto Sans TC';
    padding: 6px 5px;
    background-color: DimGray;
    border: solid 1px white;
    text-align: center;
}
