body {
    padding-top: 300px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 100;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 170px;
    background-color: #ffff59;
}

.form-signin {
    background-color: #ffff59;
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    padding: 36px;
    margin: 0 auto;
    border-radius: 20px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.wrap-input100 {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 10px;
}

.input100 {
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    display: block;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
}

.focus-input100::after {
    font-family: Linearicons-Free;
    font-size: 18px;
    color: #999999;
    content: attr(data-placeholder);
    display: block;
    position: absolute;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus {
    padding-left: 20px;
}

.input100:focus + .focus-input100::after {
    left: 23px;
    color: #d41872;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    left: 23px;
    color: #d41872;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 60px;
}


.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    color: #fff;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    border-radius: 21px;
    background: #d41872;
    background: -webkit-linear-gradient(left, #43B6EF, #0094ff, #43B6EF);
    background: -o-linear-gradient(left, #43B6EF, #0094ff, #43B6EF);
    background: -moz-linear-gradient(left, #43B6EF, #0094ff, #43B6EF);
    background: linear-gradient(left, #43B6EF, #0094ff, #43B6EF);
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 10px;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #555555;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: transparent;
}

.login100-form-btn:hover:before {
    opacity: 1;
}
